:root{
    --title-color: #2E2F42;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.list{
    list-style-type: none;
}

/*------HEADER-------*/

.header-logo{

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-decoration: none;
}

.header-logo span{
    color: #4D5AE5
}

.header-menu-link{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.header-menu-link:hover,
.header-menu-link:focus{
    color: #404BBF;
}

.header-address-link{
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.header-address-link:hover,
.header-address-link:focus{
    color: #404BBF
}

/**------HERO------*/

.hero{
    background-color: #2E2F42;;
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
   
}

.hero-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

/*?------About us------*/

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-item-text {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*-------What are we doing---------*/

.work-subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

/*?-------Team-------*/

.team-subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}

.team-member{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-member-position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*-------Footer-------*/

.footer-logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
    text-decoration: none;
}

.footer-logo span{
    color: #4D5AE5
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer{
    background-color: #2E2F42;
}

/*---------------PORTFOLIO---------------*/

.button-item{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
}
.button{
    list-style-type: none;
}

.button-item:hover,
.button-item:focus{
    color: #FFFFFF;
    background: #4D5AE5;
}

.cards-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}

.cards-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.cards-item{
    text-decoration: none;
}

